<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">RecipeBook</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated"
        data-cy="nav-recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list" routerLinkActive="active" *ngIf="isAuthenticated"
                                         data-cy="nav-shopping-list"
        >Shopping
          list</a></li>
        <li routerLinkActive="active"><a routerLink="/auth" routerLinkActive="active" *ngIf="!isAuthenticated">Authentication</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer;"
             data-cy="logoutElem"
             *ngIf="isAuthenticated"
             (click)="onLogout()"
          >Logout</a>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" data-cy="manage-dropdown">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer;" (click)="onSaveRecipes()"><a data-cy="save-data">Save Data</a></li>
            <li style="cursor: pointer;" (click)="onFetchRecipes()"><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
