<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <ng-template appPlaceholder></ng-template>
    <div *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!loading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-control"
               name="email"
               data-cy="email"
               ngModel
               required
               email
        />
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               data-cy="password"
               ngModel
               required
               minlength="6"
        />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" id="submit-button" [disabled]="!authForm.valid" data-cy="submit-button">{{ loginMode ? 'Login' : 'Sign up'}}</button>
        |
        <button class="btn btn-primary" type="button" id="toggle-button" (click)="switchLoginMode()">
          {{ loginMode ? 'Switch to sign up' : 'Switch to login'}}</button>
      </div>
    </form>
  </div>
</div>
