<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" data-cy="new-recipe-button"
    (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index"
                     [recipe]="recipeEl"
                     [index]="i"
                     [attr.data-cy]= "recipeEl.name.replaceAll(' ', '-').toLowerCase()"
    ></app-recipe-item>
  </div>
</div>
